*{
	margin: 0;
	padding: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1920px) {
	body{
	background-image: url(../img/1.jpg);
	background-size:100% ;
	background-attachment:fixed ;	
}  
	.content-about{
	padding: 4em 0;
	background-color: white;
}
.container{
	width: 100%;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.wel h6 {
    font-size: 0.9em;
    color: #999;
    font-style: italic;
}
.wel h3 {
    font-size: 3em;
    color: #000;
    font-weight: 800;
    margin: .2em 0;
}
.wel p {
    font-size: 0.9em;
    line-height: 1.8em;
    color: #999;
}
.us-col {
    margin-bottom: 2em;
}
.col-left {
    float: left;
}
.col-left span {
    color: #FCB941;
    font-size: 5em;
    display: block;
    font-weight: 600;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.col-right {
    float: right;
    width: 72%;
}
.col-right h6 {
    font-size: 1em;
    margin: 1em 0;
    color: #212121;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}	
.col-right p {
    margin: 1.2em 0 0;
    font-size: 0.9em;
    line-height: 1.8em;
    color: #999;
}
/*背景图*/
.agileits-w3layouts-choose-heading h3 {
    color: #FFFFFF !important;
    font-size: 3em;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Merienda One', cursive;
    margin-top: 50px;
}
.agile-choose-grids {
    margin: 4em 0 0 0;
}
.agile-choose-grid {
    text-align: center;
    padding-bottom: 40px;
}
#fa {
    background: #fcb941;
    padding: 1.1em 0 0 0;
    width: 90px;
    height: 90px;
    color: #212121;
    font-size: 2em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.choose-info h4 {
    font-size: 1em;
    margin: 1em 0;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.choose-info p {
    margin: 1.2em 0 0;
    font-size: 0.9em;
    line-height: 1.8em;
    color: #FFFFFF;
}
/*人物*/
.team{
	padding-right: 4em 0;
	background-color: white;
}
.col-sm-4{
	text-align: center;
}
.w3-welcome-heading h3 {
    color: #FCB941;
    font-size: 3em;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Merienda One', cursive;
}
.w3l-heading h3 {
    color: #FCB941;
    margin-top: 40px;
    padding-bottom: 40px;
}
.ih-item.circle {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    margin: 0 auto;
}
.ih-item.circle .img {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.ih-item.circle .img img {
    border-radius: 50%;
    width: 100%;
}
.ih-item.circle.effect10 .info {
    background: #fcb941;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}	
.ih-item.circle.effect10.bottom_to_top .info h3 {
    margin: 6.5em 0 1em 0;
    font-size: 1.2em;
    color: #FFF;
    margin-top: 35px !important;	
}
.ih-item.circle.effect10 .info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.w3ls-icons ul {
    padding: 0;
    margin: 0;
}
.w3ls-icons ul li {
    display: inline-block;
}
.w3ls-icons ul li a {
    color: #FFFFFF;
    text-align: center;
}
.w3ls-icons ul li:nth-child(2) {
    margin: 0 1em;
}
.ih-item.circle.effect10 .img {
    z-index: 11;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
}
@media only screen and (min-width: 100px) and (max-width: 768px) {
body{
	background-image: url(../img/1.jpg);
	background-size:100% 100%;
	background-attachment:fixed ;
}	
/*中间*/
.content-about{
	padding: 4em 0;
	background-color: white;
}.container{
	width: 100%;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.wel h6 {
    font-size: 0.9em;
    color: #999;
    font-style: italic;
}
.wel h3 {

    color: #000;
    font-weight: 800;
    margin: .2em 0;
}
.wel p {
    font-size: 1em;
    line-height: 1.8em;
    color: #999;
}
.us-col {
    margin-bottom: 2em;
}
.col-left {
    float: left;
}
.col-left span {
    color: #FCB941;
    font-size: 5em;
    display: block;
    font-weight: 600;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.col-right {
    float: right;
    width: 72%;
}
.col-right h6 {
    font-size: 1.1em;
    margin: 1em 0;
    color: #212121;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}	
.col-right p {
    margin: 1.2em 0 0;
    font-size: 1em;
    line-height: 1.8em;
    color: #999;
}
/*背景*/
.agileits-w3layouts-choose-heading h3 {
    color: #FFFFFF !important;
    font-size: 2em;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Merienda One', cursive;
    margin-top: 30px;
}
.agile-choose-grids {
    margin: 4em 0 0 0;
}
.agile-choose-grid {
    text-align: center;
    padding-bottom: 40px;
}
#fa {
    background: #fcb941;
    padding: 1.1em 0 0 0;
    width: 90px;
    height: 90px;
    color: #212121;
    font-size: 2em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.choose-info h4 {
    font-size: 1em;
    margin: 1em 0;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.choose-info p {
    margin: 1.2em 0 0;
    font-size: 0.9em;
    line-height: 1.8em;
    color: #FFFFFF;
}
/*人物*/
.team{
	padding-right: 4em 0;
	background-color: white;
}
.col-sm-4{
	text-align: center;
}
.w3-welcome-heading h3 {
    color: #FCB941;
    font-size: 3em;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Merienda One', cursive;
}
.w3l-heading h3 {
    color: #FCB941;
    margin-top: 40px;
    padding-bottom: 40px;
}
.ih-item.circle {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    margin: 0 auto;
}
.ih-item.circle .img {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.ih-item.circle .img img {
    border-radius: 50%;
    width: 100%;
}
.ih-item.circle.effect10 .info {
    background: #fcb941;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}	
.ih-item.circle.effect10.bottom_to_top .info h3 {
    margin: 6.5em 0 1em 0;
    font-size: 1.2em;
    color: #FFF;
    margin-top: 35px !important;	
}
.ih-item.circle.effect10 .info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.w3ls-icons ul {
    padding: 0;
    margin: 0;
}
.w3ls-icons ul li {
    display: inline-block;
}
.w3ls-icons ul li a {
    color: #FFFFFF;
    text-align: center;
}
.w3ls-icons ul li:nth-child(2) {
    margin: 0 1em;
}
.ih-item.circle.effect10 .img {
    z-index: 11;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
}